// Home
// -----------------------------------
.background-movies {
  margin: 0;
  width: 100%;
  background-image: url('../images/movies.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  @include respond-to($small-and-down) {
    background-position: top center;
    padding-top: 2em;
    height: 260px;
    .header {
      text-align: center;
      .intro-header {
        font-size: 2em;
        line-height: 1;
      }
    }
  }
  @include respond-to($medium-and-up) {
    background-position: top center;
    height: 400px;
    padding-top: 6em;
    .header {
      text-align: center;
      .intro-header {
        font-size: 2.5em;
        line-height: 1;
      }
    }
  }
  @include respond-to($large-and-up) {
    background-position: center center;
    height: 500px;
    padding-top: 12em;
    .header .intro-header {
      font-size: 4em;
    }
  }
}
.search-results {
  padding: 2em;
  @include respond-to($medium-and-down) {
    padding: 0;
  }
}

.intro-header {
  color: #fff;
}

// Components
// ------------------------------------
.search-input {
  position: relative;
  input {
    line-height: 1.5;
    height: auto;
    font-size: 2em;
    color: #fff;
  }
  i {
    position: absolute;
    right: 6px;
    font-size: 2em;
    color: #fff;
  }
  @include respond-to($medium-and-down) {
    input, i { font-size: 1.5em; }
  }
}

.modal {
  @include respond-to($medium-and-down) {
    width: 80%;
  }
  .modal-content__title {
    @include respond-to($medium-and-down) {
      margin-top: 1em;
    }
  }
}