@import "materialize/materialize";
@import "home";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  overflow-y: scroll;
}

body {
  padding: 0;
}

.card.small {
  height: auto;
  margin: 2em 0;
  .card-image {
    height: 300px;
  }
  .card-content {
    height: auto;
    ul {
      float: left;
      width: 75%;
    }
    li {
      float: left;
      margin: 0.5em 1.5em;
    }
    .movie-image {
      float: left;
      width: 20%;
      text-align: center;
      margin-top: 2em;
    }
  }
  .card-action {
    position: relative;
  }
  li {
    strong {
      margin: 0.5em 0;
    }
    p {
      margin: 0.5em 0;
    }
  }
}

.preloader-wrapper {
  margin: 4em auto;
  display: block;
}

.footer {
  margin: 4em;
}