// $primary-color: #1a237e;
$primary-color: #303f9f;
$input-focus-color: $primary-color;

$roboto-font-path: '/assets/fonts/roboto/';
$icons-font-path: '/assets/fonts/material-design-icons/';

$navbar-brand-font-size: 1.4rem;