<div id="detail-modal" class="modal">
  <div class="row">
    <section class="details-modal__poster">
      <div class="col s12 m5">
        <img class="col s12" ng-src="{{::detail.posters.original}}">
      </div>
    </section>
    <section class="details-modal__content">
      <div class="col s12 m6">
        <h4 class="modal-content__title">{{::detail.title}}</h4>
        <p class="col s6">
      	<strong>Released</strong>
      	{{::detail.year}}
      	<strong>{{::detail.ratings.critics_rating}}</strong>
      	{{::detail.ratings.critics_score}}
            </p>
            <p class="col s6">
      	<strong>Rated</strong>
      	{{::detail.mpaa_rating}}<br>
      	<strong>Genre</strong>
      	{{::detail.genres[0]}}
            </p>
            <p class="col s6">
      	<strong>Director</strong><br>
      	{{::detail.abridged_directors[0].name}}
            </p>
            <p class="col s6">
      	<strong>Actors</strong><br>
      	<span ng-repeat="actor in ::detail.abridged_cast">
         {{::actor.name}} 
        </span>
            </p>
            <p class="col s12">
      	<strong>Plot</strong><br>
      	{{::detail.synopsis}}
        </p>
      </div>
    </section>
  </div>
  <div class="action-bar">
    <a ui-sref="search" class="waves-effect waves-green btn-flat modal-action modal-close">Close</a>
  </div>
</div>