<div id="detail-modal" class="modal">
  <div class="row">
    <section class="details-modal__poster">
      <div class="col s12 m5">
        <img class="col s12" ng-src="{{::detail.Poster}}">
      </div>
    </section>
    <section class="details-modal__content">
      <div class="col s12 m6">
        <h4 class="modal-content__title">{{::detail.Title}}</h4>
        <p class="col s6">
      	<strong>Released</strong>
      	{{::detail.Released}}
      	<strong>IMDB Rating</strong>
      	{{::detail.imdbRating}}
            </p>
            <p class="col s6">
      	<strong>Rated</strong>
      	{{::detail.Rated}}<br>
      	<strong>Genre</strong>
      	{{::detail.Genre}}
            </p>
            <p class="col s6">
      	<strong>Director</strong><br>
      	{{::detail.Director}}
            </p>
            <p class="col s6">
      	<strong>Actors</strong><br>
      	{{::detail.Actors}}
            </p>
            <p class="col s12">
      	<strong>Plot</strong><br>
      	{{::detail.Plot}}
        </p>
      </div>
    </section>
  </div>
  <div class="action-bar">
    <a ui-sref="search" class="waves-effect waves-green btn-flat modal-action modal-close">Close</a>
  </div>
</div>